<% if current_user %>
  <%= render partial: 'home/profile', locals: { profile: @profile, starred: @starred, owner_repos: @owner_repos, member_repos: @member_repos, all_repos: @all_repos } %>
<% else %>
  <p>
    Log in to see some neat stuff
  </p>
<% end %>
